NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_PUBLIC_WHATSAPP_NUMBER=6281234567890
NUXT_CLOUDFLARE_ACCOUNT_ID=0bf4be1990f7d33334818eb0eeca8968
NUXT_CLOUDFLARE_D1_DATABASE_ID=bb91b2a1-4a4b-45fc-bca3-30ae08646b4b
NUXT_CLOUDFLARE_API_TOKEN=
NUXT_R2_ACCOUNT_ID=0bf4be1990f7d33334818eb0eeca8968
NUXT_R2_ACCESS_KEY_ID=
NUXT_R2_SECRET_ACCESS_KEY=
NUXT_R2_BUCKET=proshop-products
NUXT_PUBLIC_R2_BASE_URL=https://pub-6564e90540594053a9b1479b7b8b3efd.r2.dev
NUXT_SESSION_COOKIE_NAME=proshop_admin_session
NUXT_SESSION_SECRET=
